/* AboutUsPage.css */
.about-us-container {
  padding: 40px !important;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.image-col {
  padding: 0;
  /* Remove padding to align with text */
}

.about-us-image {
  height: 100%;
  /* Full height of the container */
  object-fit: cover;
  /* Cover the entire container while maintaining aspect ratio */
}

.our-origin {
  height: 285px !important;
  width: 600px;
  object-fit: cover;
}
.text-col {
  padding: 25px;
  /* Add padding for spacing */
}

.about-us-text {
  text-align: left;
}

.abouttext {
  color: rgba(0, 115, 179, 1);
  font-family: 'SpaceGrotesk-Bold';
}

.uniquetext{
  color: rgba(0, 115, 179, 1);
  font-family: 'SpaceGrotesk-Bold';
  font-size: 36px;
}
.aboutus-text {
  color: rgba(0, 115, 179, 1);
  font-family: 'SpaceGrotesk-Bold';
  display: flex;
  align-items: center;
  justify-content:center
}
.aboutustext {
  color: #A9A9A9;
  font-size: 40px;
  font-family: 'SpaceGrotesk-Bold';
}

.productcss {
  display: flex;
  justify-content: center;
}

.aboutbottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom-img {
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
}
.journyimg{
  height: 360px;
  width: 500px;
}
.customabttxt {
  color: rgba(123, 123, 123, 1);
  font-size: 22px;
  font-family: 'DMSans-Regular';
}
.firsttext{
  color: rgba(255, 255, 255, 1);
  font-family: 'SpaceGrotesk-Bold';
  font-size: 36px;
}
@media (max-width: 767px) {

  .image-col,
  .text-col {
    padding: 0;
    /* Remove padding for full-width columns on small screens */
  }
}

@media (max-width:650px) {
  .headerAbout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .our-origin {
    height: 200px !important;
    width: 600px;
    object-fit: cover;
  }

  .journyimg{
    height: 260px;
    width: 500px;
  }
  .customabttxt {
    color: rgba(123, 123, 123, 1);
    font-size: 18px;
    font-family: 'DMSans-Regular';
  }

  .uniquetext{
    color: rgba(0, 115, 179, 1);
    font-family: 'SpaceGrotesk-Bold';
    font-size: 23px;
  }
  .firsttext{
    color: rgba(255, 255, 255, 1);
    font-family: 'SpaceGrotesk-Bold';
    font-size: 23px;
  }
  .about-us-container {
    padding: 25px !important;
    padding-top: 1px !important;
  }
}

@media (max-width:290px) {
  .our-origin {
    height: 180px !important;
    width: 600px;
    object-fit: cover;
  }
  .customabttxt {
    color: rgba(123, 123, 123, 1);
    font-size: 18px;
    font-family: 'DMSans-Regular';
  }
  .uniquetext{
    color: rgba(0, 115, 179, 1);
    font-family: 'SpaceGrotesk-Bold';
    font-size: 23px;
  }
  .firsttext{
    color: rgba(255, 255, 255, 1);
    font-family: 'SpaceGrotesk-Bold';
    font-size: 23px;
  }
  .about-us-container {
    padding: 22px !important;
    padding-top: 1px !important;
  }
}